* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  height: 120px;
  display: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.navbar .navbar-cont {
  display: flex;
  justify-content: center;
  height: 120px;
  max-width: 1600px;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-cont {
    height: 80px;
  }
}

.navbar .navbar-cont .navbar-logo {
  text-align: start;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
  align-items: center;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-cont .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 0);
  }
}

.navbar .navbar-cont .navbar-logo img {
  align-self: start !important;
  height: 50%;
}

.navbar .navbar-cont .menu-icon {
  display: none;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-cont .menu-icon {
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.navbar .navbar-cont .menu-icon .fa-bars,
.navbar .navbar-cont .menu-icon .fa-times {
  color: #000000;
}

.navbar .navbar-cont .nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 60px;
  list-style: none;
  text-align: center;
  justify-content: start;
  margin-left: 70px;
  width: 70vw;
  align-items: center;
}

@media screen and (max-width: 756px) {
  .navbar .navbar-cont .nav-menu {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    width: 80%;
    height: 40vh;
    position: absolute;
    top: 90px;
    left: 100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .navbar .navbar-cont .nav-menu.active {
    background-color: #C8CCD8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navbar .navbar-cont .nav-menu.active .nav-links:hover {
    color: #000000 !important;
  }
}

.navbar .navbar-cont .nav-menu .nav-links {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 100%;
  color: #707070 !important;
}

.navbar .navbar-cont .nav-menu .nav-links:hover {
  transition: all 0.2s ease-out;
}

.navbar .navbar-cont .nav-menu .nav-links-mobile {
  display: none;
}

.navbar .navbar-cont .nav-menu .nav-links .nav-item:hover {
  cursor: pointer;
  color: #000000 !important;
}

.intro-cont {
  padding: 3% 7% 5% 10%;
}

.intro-cont .text-col {
  position: absolute;
  top: 28vw;
  left: 20%;
  padding-right: 40%;
  font-weight: normal;
  color: #EEEFF4;
}

.intro-cont .text-col h1 {
  font-size: 70px;
}

@media screen and (max-width: 756px) {
  .intro-cont .text-col h1 {
    font-size: 56px;
  }
}

.intro-cont .text-col p {
  font-size: 15px;
  padding-right: 25%;
  padding-bottom: 40px;
}

.intro-cont .text-col button {
  width: 250px;
  height: 60px;
  background-color: #000000;
  color: white;
  align-items: center !important;
  border: 1px solid black;
}

.intro-cont .text-col button img {
  padding-top: 5px;
  padding-left: 20px;
  height: 20px;
}

.intro-cont .text-col button:hover {
  background-color: white;
  color: #000000;
  border-color: #000000;
}

.intro-cont img {
  width: 100%;
}

.btn-row {
  position: absolute;
  top: 60.25vw;
  left: 103px;
}

.btn-row .btn {
  background-color: white;
  border: 1px solid #707070;
  padding: 20px;
  cursor: pointer;
}

.btn-row .btn h3 {
  font-size: 12px;
}

.welcome-cont {
  padding: 5% 7%;
}

.welcome-cont .text-col h1 {
  position: absolute;
  left: 10vw;
  font-weight: 500;
  letter-spacing: -0.8rem;
  font-size: 180px;
  z-index: -1 !important;
  color: #EEEFF4;
}

.welcome-cont .text-col h3 {
  padding: 140px 3% 2% 32%;
  letter-spacing: -0.3rem;
  z-index: 2 !important;
  font-size: 56px;
  font-weight: 300;
}

.welcome-cont .text-col p {
  padding: 1% 2% 2% 32%;
  font-size: 15px;
}

.welcome-cont .img-col {
  text-align: end;
}

.team-cont {
  padding: 5% 7%;
}

.team-cont .team-text {
  position: absolute;
  padding: 10% 15%;
}

.team-cont .team-text h3 {
  font-size: 56px;
  font-weight: 300;
  color: white;
  padding-right: 60%;
  padding-bottom: 30px;
}

.team-cont .team-text button {
  width: 250px;
  height: 60px;
  background-color: #000000;
  color: white;
  align-items: center !important;
  border: 1px solid black;
}

.team-cont .team-text button img {
  padding-top: 5px;
  padding-left: 20px;
  height: 20px;
}

.team-cont .team-text button:hover {
  background-color: white;
  color: #000000;
  border-color: #000000;
}

.featured-cont {
  padding: 5% 7%;
}

.featured-cont .feat-head-row {
  padding: 2% 0;
}

.featured-cont .feat-head-row h3 {
  font-size: 56px;
}

.featured-cont .feat-head-row .button-col {
  text-align: end;
}

.featured-cont .feat-head-row .button-col button {
  width: 250px;
  height: 60px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  align-items: center !important;
  border: 1px solid black;
}

.featured-cont .feat-head-row .button-col button img {
  padding-top: 5px;
  padding-left: 20px;
  height: 20px;
}

.featured-cont .feat-head-row .button-col button:hover {
  background-color: white;
  color: #000000;
  border-color: #000000;
}

.featured-cont .feat-proj-row .project-card-cont {
  padding: 0 2%;
}

.featured-cont .feat-proj-row .project-card-cont img {
  width: 100%;
}

.featured-cont .feat-proj-row .project-card-cont h1 {
  position: absolute;
  top: 340%;
  font-size: 200px;
  font-family: sans-serif;
  font-weight: 300;
  color: #EEEFF4;
  padding-left: 17%;
}

.featured-cont .feat-proj-row .project-card-cont .project-card-text {
  position: absolute !important;
  top: 400%;
}
